body {
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.card1{
    background: #00b39b;
    color: #fff;
    text-shadow: none;
    font-family: sans-serif;
    height: 350px;
}
.card2{
    background: #3c83df;
    color: #fff;
    text-shadow: none;
    font-family: sans-serif;
    height: 350px;
   
    
}
.card3{
    background:  #1b2734;
    color: #fff;
    text-shadow: none;
    font-family: sans-serif;
    height: 350px;
    
}
.img-log{
    margin-top: -3rem;
}
.selc{
    background-color: transparent;
    color: white;
    margin-top: 10rem;
    font-size: 1.5rem;
}
.myImage {
    width: 250px;
    height: 250px;
  
  }
.nav-top{
    margin-top: -10rem;
}
.navbar-light .navbar-text a{
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1rem;
    color: #747474;
   
}
.navbar-light .navbar-text a:hover{
    color: #00b39b;
}
.deupar{
    display: flex;
    justify-content: space-around;
    margin: 5rem;
}


.titre1,h1{
    font-size: 2.125rem;
    color: #00b39b;
    text-align: center;
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 100;
    letter-spacing: -.3px;
    margin-top: -2rem;
}

    .im-link {
    font-size: 2rem;
    display: inline-block;
letter-spacing: 4px;
word-spacing: 5px;
   
    color: #747474;
    margin-top: 5rem;
}
.im-link:hover{
    color: #3c83df;
}
.pet-titre{
    font-size: 1.5rem;
    margin-top: 5rem;
    text-align: justify;
  
}
.stats__item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    height: 250px;
    text-align: center;
    padding: 15px;
    font-size: .8125em;
    width: 14rem;
   margin-bottom: 1rem;

}
.stats__item h3 {
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: .5em 0;
}
.stats {
    background: #e5faf8;
    background-image: linear-gradient(
-45deg
,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    padding: 1.875em 0 .625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
    padding: 3rem;
    height: 40rem;
}
.stat22{
    margin-left: 6.8rem;
    margin-top: -1.8rem;
}
.stats__header {
    margin-top: 2em;
}
.stats__header p {
    max-width: 415px;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857143;
   margin-left: 5rem;
}

.img-par3 {
    width: 20rem;
    height: 20rem;
    margin-top: 10rem;
    margin-left: 2rem;
}
.offices {
    margin-top: 5.5rem;
    margin-bottom: 5rem;
}
.section__inner {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
.offices__header {
    max-width: 460px;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align: center;
}
@media (min-width: 871px){
    .offices__slider {
        margin: 0 -10px;
        zoom: 1;
        display: block;
    }
}
.office__image img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.office__desc {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6666666667;
    padding: 1.1111111111em;
}
.office__inner {
    background: #fff;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 6px;
    overflow: hidden;
    max-width: 311px;
    z-index: 2;
    position: relative;
    display: block;
    color: #747474;
}
.office .btn {
    float: right;
}
.btn--small {
    font-size: .625rem;
    padding: 1em 1.5em;
  font-size: 12px;
}
.btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}

.join-us__header {
    max-width: 520px;
    margin: 0 auto;
    font-size: .875em;
    text-align: center;
}
.join-us__header h1 {
    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: .75em;
    margin-top: 5rem;
}
footer {
    display: block;
    text-align: center;
    font-size: 12px;
}
.hr-footer{
    margin-top: 4rem;
}